/* Place your CSS styles in this file */

h1 {
    text-align: center;
    font-family: "Trebuchet MS", sans-serif;
    font-weight: heavy;
    background-color:cornsilk;
}

h2 {
    text-align: center;
    font-family: "Trebuchet MS", sans-serif;
    font-weight: normal;
    background-color:cornsilk;
}

p {
    background-color:khaki;
}

body {
    background-color: antiquewhite;
}

